<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <block name="common" th:replace="common/base"></block>
    <script th:inline="javascript">
        var memberData = [[${memberData}]];
    </script>
</head>

<body class="childrenBody">
<!-- 添加和修改的弹出层开始 -->
<div style="padding: 20px" id="">
    <form class="layui-form " action="" lay-filter="dataFrm" id="dataFrm">
        <input type="hidden" name="id" lay-verify="required" autocomplete="off" class="layui-input">

        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">微信号:</label>
                <div class="layui-input-inline">
                    <input type="text" id="wechatCode" name="wechatCode" lay-verify="required" class="layui-input"
                           disabled="disabled">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">客户类型:</label>
                <div class="layui-input-block">
                    <select name="userType" lay-verify="required" disabled="disabled">
                        <option value="B">分销员</option>
                        <option value="CO">客户</option>
                    </select>
                </div>
            </div>


        </div>


        <div class="layui-form-item">

            <div class="layui-inline">
                <label class="layui-form-label">用户昵称:</label>
                <div class="layui-input-inline">
                    <input type="text" id="nickname" name="nickname" lay-verify="required" class="layui-input"
                           disabled="disabled">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">真实姓名:</label>
                <div class="layui-input-inline">
                    <input type="text" id="realName" name="realName" lay-verify="required" class="layui-input">
                </div>
            </div>

        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">电话号码:</label>
                <div class="layui-input-inline">
                    <input type="text" id="phone" name="phone" lay-verify="required|phone" lay-filter="phone"
                           class="layui-input">
                </div>
            </div>
        </div>


        <div class="layui-form-item" style="text-align: center;" hidden="hidden">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release"
                        lay-filter="memberEditSubmit" lay-submit>提交
                </button>
                <!--            <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh" >重置</button>-->
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/page/member/memberUpdate.js"></script>

</body>

</html>