<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <block name="common" th:replace="common/base"></block>
    <script th:inline="javascript">
        var supplierLogisticsData = [[${supplierLogisticsData}]];
    </script>
</head>

<body class="childrenBody">
<!-- 添加和修改的弹出层开始 -->
<div style="padding: 20px" id="">
    <form class="layui-form " action="" lay-filter="dataFrm" id="dataFrm">

        <input type="hidden" name="id" lay-verify="required" autocomplete="off" class="layui-input">


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">物流编号:</label>
                <div class="layui-input-inline">
                    <input type="text" id="logisticsCode" name="logisticsCode" lay-filter="logisticsCode"
                           lay-verify="required"
                           class="layui-input" disabled="disabled">
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">物流名称:</label>
                <div class="layui-input-inline">
                    <input type="text" id="logisticsName" name="logisticsName" lay-verify="required"
                           lay-filter="logisticsName" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属商户:</label>
                <div class="layui-input-inline">
                    <select id="supplierCode" name="supplierCode" lay-filter="supplierCode"
                            lay-verify="required">
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">排序:</label>
                <div class="layui-input-inline">
                    <input type="text" id="sort" name="sort" lay-verify="required|number" lay-filter="sort"
                           class="layui-input" oninput="value=value.replace(/[^\d]/g,'')">
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">物流类型:</label>
                <div class="layui-input-inline">
                    <input type="radio" name="logisticsType" value="KD"  title="快递">
                    <input type="radio" name="logisticsType" value="HY" title="货运">
                </div>
            </div>
        </div>


        <div class="layui-form-item" hidden="hidden">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-release"
                        lay-filter="supplierLogisticsEditSubmit" lay-submit>提交
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/page/supplierLogistics/supplierLogisticsUpdate.js"></script>

</body>

</html>